<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>게시글 목록</title>
</head>
<body>
<main>
	<div id="wrap" align="center">
		<h1>공지 사항</h1>
		<h4>소니스토어에 많이 물어보시는 질문과 새로운 소식을 만나보세요.</h4>
		<table class="list">

			<tr th:if="${member.grade == 0}">
					<td colspan="5" style="border: white; text-align: right">
						<a href="write">게시글 등록</a>
					</td>
			</tr>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>등록일</th>
				<th>조회</th>
			</tr>
			<tr th:each="dto : ${result.dtoList}">
				<td scope="row">
					<a th:href="@{/notice/read(num=${dto.num})}">[[${dto.num}]]</a>
				</td>
				<td>[[${dto.title}]]</td>
				<td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
				<td>[[${dto.readcount}]]</td>
			</tr>
		</table>
	</div>
</main>
</body>
</html>