<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block
	th:replace="~{./fragments/header::setContent(~{this::content})}">
	<th:block th:fragment="content">

	</th:block>
</th:block>
<link rel="stylesheet" href="../css/productList.css">
<head>
<meta charset="UTF-8">
<style>
.wrapper { 
	width: 100%;
	min-width: 320px;
	position: relative; 
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    background-color: white; 
 }
 
.list_wrap {
	width: 100%;
	text-align: center;
}
</style>
<script>
	function SortPriceHigh() {

		$.ajax({
			url : "camera",
			type : "post",
			data : {
				sort : "1"
			},
			success : function(list) {
				var e = $(list).find('#product_body');
				
				$("#product_body").html(e);
				
			},
			error : function() {
			}
		});
	}

	function SortPriceLow() {

		$.ajax({
			url : "camera",
			type : "post",
			data : {
				sort : "2"
			},
			success : function(list) {
				var e = $(list).find('#product_body');
				
				$("#product_body").html(e);
			
				
		
			},
			error : function() {

			}
		});
	}

	function SortNew() {

		$.ajax({
			url : "camera",
			type : "post",
			data : {
				sort : "3"
			},
			success : function(list) {
				var e = $(list).find('#product_body');
			
				$("#product_body").html(e);
				
				
			},
			error : function() {

			}
		});
	}
	
	function topImg() {
		
		  var category = [[${category}]];
		  var topImg;
		  if ("101" == category || "10101" == category || "10102" == category){
			  topImg = '../images/bg_cat_camera.jpg'
		  }else if ("102" == category || "10201" == category || "10202" == category){
			  topImg = '../images/video_camera.jpg'			  
		  }else if ("103" == category || "10301" == category || "10302" == category){
			  topImg = '../images/audio.jpg'
		  }else if ("104" == category){
			  topImg = '../images/acc.jpg'
		  }
		  
		  return topImg;
		
	}
	
	function topImgTwo() {
		
		  var category = [[${category}]];
		  var topImg2;
		  if ("101" == category || "10101" == category || "10102" == category){
			  topImg2 = '../images/m-category-cam-01.png'
		  }else if ("102" == category || "10201" == category || "10202" == category){
			  topImg2 = '../images/cinema_line_camera.png'			  
		  }else if ("103" == category || "10301" == category || "10302" == category){
			  topImg2 = '../images/headphone.png'
		  }else if ("104" == category){
			  topImg2 = '../images/camera_acc.png'
		  }
		  
		  return topImg2;
		
	}
	
	function topImgThree() {
		
		  var category = [[${category}]];
		  var topImg3;
		  if ("101" == category || "10101" == category || "10102" == category){
			  topImg3 = '../images/m-category-cam-02.png'
		  }else if ("102" == category || "10201" == category || "10202" == category){
			  topImg3 = '../images/camcoder.png'			  
		  }else if ("103" == category || "10301" == category || "10302" == category){
			  topImg3 = '../images/speaker.png'
		  }else if ("104" == category){
			  topImg3 = '../images/audio_acc.png'
		  }
		  
		  return topImg3;
		
	}
	
	function topSpan() {
		
		var category = [[${category}]];
		  if ("101" == category || "10101" == category || "10102" == category){
			  document.getElementById('top_span').innerHTML = "카메라";
		  }else if ("102" == category || "10201" == category || "10202" == category){
			  document.getElementById('top_span').innerHTML = "비디오 카메라";		  
		  }else if ("103" == category || "10301" == category || "10302" == category){
			  document.getElementById('top_span').innerHTML = "오디오";
		  }else if ("104" == category){
			  document.getElementById('top_span').innerHTML = "액세서리";
		  }
	  }	
function topSpanTwo() {
		
		var category = [[${category}]];
		  if ("101" == category || "10101" == category || "10102" == category){
			  document.getElementById('top_span2').innerHTML = "렌즈교환식 카메라";
		  }else if ("102" == category || "10201" == category || "10202" == category){
			  document.getElementById('top_span2').innerHTML = "시네마 라인 카메라";		  
		  }else if ("103" == category || "10301" == category || "10302" == category){
			  document.getElementById('top_span2').innerHTML = "헤드폰/이어폰/워크맨";
		  }else if ("104" == category){
			  document.getElementById('top_span2').innerHTML = "카메라 액세서리";
		  }
	  }	
function topSpanThree() {
	
	var category = [[${category}]];
	  if ("101" == category || "10101" == category || "10102" == category){
		  document.getElementById('top_span3').innerHTML = "컴팩트 카메라";
	  }else if ("102" == category){
		  document.getElementById('top_span3').innerHTML = "캠코더";		  
	  }else if ("103" == category){
		  document.getElementById('top_span3').innerHTML = "스피커";
	  }else if ("104" == category){
		  document.getElementById('top_span3').innerHTML = "오디오 액세서리";
	  }
  }	
	
function allClick(){
	var category = [[${category}]];
	 var allLink;
	 if ("101" == category || "10101" == category || "10102" == category){
		  allLink = "cus_productlist.do?sort=3&category=101"
	  }else if ("102" == category || "10201" == category || "10202" == category){
		  allLink = "cus_productlist.do?sort=3&category=102"  
	  }else if ("103" == category || "10301" == category || "10302" == category){
		  allLink = "cus_productlist.do?sort=3&category=103"
	  }else if ("104" == category){
		  allLink = "cus_productlist.do?sort=3&category=104"
	  }
	
	return allLink;
	
}
function categoryOne(){
	var category = [[${category}]];
	 var categoryOne;
	 if ("101" == category || "10101" == category || "10102" == category){
		 categoryOne = "cus_productlist.do?sort=3&category=10101"
	  }else if ("102" == category || "10201" == category || "10202" == category){
		  categoryOne = "cus_productlist.do?sort=3&category=10201"  
	  }else if ("103" == category || "10301" == category || "10302" == category){
		  categoryOne = "cus_productlist.do?sort=3&category=10301"
	  }else if ("104" == category){
		  categoryOne = "cus_productlist.do?sort=3&category=104"
	  }
	
	return categoryOne;
	
}
function categoryTwo(){
	var category = [[${category}]];
	 var categoryTwo;
	 if ("101" == category || "10101" == category || "10102" == category){
		 categoryOne = "cus_productlist.do?sort=3&category=10102"
	  }else if ("102" == category || "10201" == category || "10202" == category){
		  categoryOne = "cus_productlist.do?sort=3&category=10202"  
	  }else if ("103" == category || "10301" == category || "10302" == category){
		  categoryOne = "cus_productlist.do?sort=3&category=10302"
	  }else if ("104" == category){
		  categoryOne = "cus_productlist.do?sort=3&category=104"
	  }
	
	return categoryOne;
	
}
	
</script>
<title>상품 목록</title>
</head>
<body>
	<div class="wrapper">
		<div id="list_wrap">
			<div id="list_top_wrap">
				<img id="list_top_img" src="">
				<script>
					document.getElementById('list_top_img').src = topImg()
				</script>
				<div id=camera_text>
					<span id="top_span"><script>
						topSpan()
					</script></span>
				</div>

				<div id="list_top_center_group">
					<div id="camera_all">
						<a id="link_all" href=""><img src="../images/icon_all.svg"><span>전체보기</span></a>
						<script>
							document.getElementById('link_all').href = allClick()
						</script>
					</div>
					<div id="camera_ren">
						<a id="category1" href=""> <script>
							document.getElementById('category1').href = categoryOne()
						</script> <img id="list_top_img2" src=""> <script>
							document.getElementById('list_top_img2').src = topImgTwo()
						</script> <span id="top_span2">렌즈교환식 카메라</span> <script>
							topSpanTwo()
						</script>
						</a>

					</div>
					<div id="camera_com">
						<a id="category2" href=""> <script>
							document.getElementById('category2').href = categoryTwo()
						</script> <img id="list_top_img3" src=""> <script>
							document.getElementById('list_top_img3').src = topImgThree()
						</script> <span id="top_span3">컴팩트 카메라</span> <script>
							topSpanThree()
						</script>
						</a>
					</div>
				</div>
			</div>
			<div id="list_center_wrap">
				<div id="list_center_top">
					<div id="list_center_top_name">
						<h1>제품</h1>
					</div>
					<div id="list_center_top_sort">
						<button class="btn-sort" onClick="SortPriceHigh()">높은가격순</button>
						<button class="btn-sort" onClick="SortPriceLow()">낮은가격순</button>
						<button class="btn-sort" onClick="SortNew()">최신순</button>
					</div>
				</div>
				<div id="product_body">
			
			
					<div th:each="pro : ${result.dtoList}">
						<div id="product_body_items">
							<div id="product_body_pic">
								<a th:href="@{/product/view(code=${pro.code})}">
									<div th:if="${pro.imageDTOList[0] != null}">
										<img th:src="@{/display?fileName=}+${pro.imageDTOList[0].getImageURL()}">
									</div>
									<div th:if="${pro.imageDTOList[0] == null}">
										사진 없음
									</div>
								</a>
							</div>
							<div id="product_sul">
								<a id="items1" th:href="@{/product/view(code=${pro.code})}"><strong>[[${pro.name}]]</strong></a>
								<a id="items2" th:href="@{/product/view(code=${pro.code})}">[[${pro.description}]]</a>
								<a id="items3" th:href="@{/product/view(code=${pro.code})}">[[${pro.price}]]</a>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<th:block
	th:replace="~{./fragments/footer::setContent(~{this::content})}">
	<th:block th:fragment="content">

	</th:block>
</th:block>
</html>
