<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="../css/productList.css">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main>
	<div id = "success_wrap"> 
	<div id="success_top_wrap">
				<h1 id = "success_text">주문 완료</h1>
				<div id="success_top_icon">
					<div id="success_top_icon_id1">
						<img src="../images/buy_icon1.svg"><span id = "success_top_span_id1">장바구니</span>
					</div>
					<div id="success_top_icon_id2">
						<img src="../images/buy_icon2.svg"><span id = "success_top_span_id1">주문·결제</span>
					</div>
					<div id="success_top_icon_id3">
						<img src="../images/buy_icon3.svg"><span id = "success_top_span_id1">주문 완료</span>
					</div>
				</div>
				
				<div id = "success_bottom">
				
				<span id = "success_span"> 주문해 주셔서 감사합니다.</span>
				</div>
				
			</div>
		</div>
		</main>
</body>
</html>
