<!DOCTYPE html>
<html>
<th:block
	th:replace="~{./fragments/header::setContent(~{this::content})}">
	<th:block th:fragment="content">

	</th:block>
</th:block>
<style>
.test{
	text-align: middle;
}
main {
	background: white;
	display: block;
	overflow: auto;
}

body {
	font-family: "SSTPro", "Noto Sans KR", -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0px;
	display: block;
	width: 100vw;
	overflow: auto;
	text-align: center; 
}
.videoplayer {
	width: 100%;
	text-align: center;
}


</style>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<main>
<body>
<h1>헤더 테스트</h1>
<ul>
<li class="test">kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkk</li>
</ul>
	<div id="container" class="container">
		<video class="videoplayer" autoplay playsinline>
			<source
				src="https://image.sony.co.kr/newStore/video/220719_Linkbuds_39sec.mp4"
				type="video/mp4">
		</video>
	</div>
</body>
</main>
<th:block
	th:replace="~{./fragments/footer::setContent(~{this::content})}">
	<th:block th:fragment="content">

	</th:block>
</th:block>
</html>
